# Development setup instructions can be found here:
# https://confluence.suse.com/spaces/~fschnizlein/pages/2197061706/SMT+-+development+setup

# SLES registration code which includes SLE12.5, best is to use one
# which also includes LTSS
REGCODE=

# Internal CDN clone of the SLE 12 SP5 Update repository to allow bootstraping
# the container image with required packages.
# Internal SUSE repo containing suseconnect-ng for bootstrapping zypper
# Check SUSES internal download services and find the SLE-SERVER/12-SP5/update repo
#
# IMPORTANT: Ensure using http:// instead of https://, otherwise internal
# certificates are required
INTERNAL_REPO=

# The local URL SMT should listen to
SMT_LOCAL_URL=http://localhost/

# SCC registration proxy credentials. Find these at
# https://scc.suse.com under Organization > Credentials
SMT_NU_USER=
SMT_NU_PASS=

# SMT admin email used for NCC/SCC registration.
SMT_EMAIL=

# Database passwords which are set on deployment of the development
# environment
SMT_DB_PASS=smt
DB_ROOT_PASS=root
