*~
smt-*/
package/smt-*.tar.bz2
client/smt-client-*/
client/package/smt-client-*.tar.bz2
yast/Makefile.am
yast/Makefile.am.common
yast/Makefile.in
yast/aclocal.m4
yast/agents/Makefile.in
yast/autodocs-cc-base.ami
yast/autodocs-cc-off.ami
yast/autodocs-cc.ami
yast/autodocs-ycp.ami
yast/config.guess
yast/config.sub
yast/configure
yast/configure.in
yast/doc/Makefile.in
yast/doc/autodocs/Makefile.in
yast/icons/16x16/Makefile.in
yast/icons/22x22/Makefile.in
yast/icons/32x32/Makefile.in
yast/icons/48x48/Makefile.in
yast/icons/Makefile.in
yast/icons/client_status/Makefile.in
yast/icons/patch_status/Makefile.in
yast/install-sh
yast/missing
yast/pluglib-bindings.ami
yast/src/Makefile.in
yast/src/smt
yast/testsuite/Makefile.in
