[NU]
NUUrl=https://updates.suse.com/
NURegUrl=https://scc.suse.com/connect
NUUser=${SMT_NU_USER}
NUPass=${SMT_NU_PASS}
ApiType=SCC

[DB]
config=dbi:mysql:database=smt;host=db;port=3306
user=smt
pass=${SMT_DB_PASS}

[LOCAL]
url=${SMT_LOCAL_URL}
nccEmail=${SMT_EMAIL}
MirrorTo=/srv/www/htdocs
MirrorAll=false
MirrorSRC=false
forwardRegistration=true
rndRegister=0
mirror_preunlock_hook=
mirror_postunlock_hook=
HTTPProxy=
HTTPSProxy=
ProxyUser=
NoProxy=
requiredAuthType=none
smtUser=smt
signingKeyID=
cloudGuestVerify=none

[REST]
enableRESTAdminAccess=0
RESTAdminUser=RESTroot
RESTAdminPassword=

[JOBQUEUE]
maxFinishedJobAge=8
jobStatusIsSuccess=1,4

[REPORT]
reportEmail=
reportEmailFrom=
mailServer=
mailServerPort=
mailServerUser=
mailServerPassword=
