[Unit]
Description=SMT database and schema upgrade service
Require=mysql.service
After=mysql.service
Before=apache2.service

[Service]
Type=oneshot
ExecStart=/usr/bin/smt-schema-upgrade

[Install]
WantedBy=smt.target