[Unit]
Description=SMT
Requires=cron.service
Requires=mysql.service
Requires=smt.service
Requires=apache2.service
Requires=smt-schema-upgrade.service

[Install]
WantedBy=multi-user.target
