[Unit]
Description=SMT
Requires=cron.service
Requires=mysql.service
Requires=apache2.service
Requires=smt-schema-migration.service

[Install]
WantedBy=multi-user.target
